* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  margin: 0;
}

/* Header */
.navbar {
  display: flex;
  justify-content: center;
  background-color: rgb(32,152,209);
}

.navbar a {
  color: white;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
  font-size: 18px;
}
  
.navbar a:hover {
  background-color: #ffba00;
  color: black;
}

.welcome {
  padding: 20px;
  text-align: center;
  background:rgb(32,152,209);
  color: white;
}


/* Column container */
.row {  
  display: flex;
  flex-wrap: wrap;
}

/* Sidebar/left column */
.side {
  flex: 30%;
  padding: 20px;
}

.profile-img{
  height: 250px;
}

ul{
  list-style-type: square;
}

/* Main column */
.main {
  flex: 70%;
  background-color: white;
  padding: 20px;
  border-left: 15px solid orange;
}

/*Projects area */
.flex-container {
    display: flex;
    justify-content: center;
}
  
.flex-container > a {
  border: 5px solid rgb(32,152,209);
  margin: 10px;
}
.img-project{
  width: 300px;
}

#recent-work > h2 {
  text-align: center;
}

h2{
  color:rgb(32,152,209)
}

.flex-container a:hover{
  border: 5px solid orange;
}

/* Map*/
#map {
  height: 600px; 
  width: 100%;
 }

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background:rgb(32,152,209);
  color: white;
}

/*Links*/
main a:link {
  text-decoration: none;
}

main a:visited {
  text-decoration: none;
  color: black;
}

main a:hover {
  text-decoration: underline;
}

.footer a:link {
  text-decoration: none;
}

.footer a:visited {
  text-decoration: none;
  color: white;
}

.footer a:hover {
  text-decoration: underline;
}

/* Responsive layout*/
@media (max-width: 700px) {
  .row, .navbar,.flex-container {   
    flex-direction: column;
  }
}
